img {
  border-radius: 0.5rem;
}
img.medium2 {
  max-width: 29rem;
  width: 100%;  
}
.card2 {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 2rem;
    flex-direction: column;
  }
  .card-body2{
    width: 400px;
    padding: 5rem;
    flex-direction: column;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }
  .card-description h3{
    flex-direction: row;
  }
  .price2{
    font-size: 5rem;
  }
  